# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
.venv_bt/
venv/
env/


# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Backtest outputs
backtest_out/
backtest_out_*/
backtest_risk*/

# Env files
.env